/* Mobile */
.bg {
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.paw-icon {
  position: absolute;
  font-size: 30px;
  margin-left: -20px;
  margin-top: -25px;
  transform: rotate(-30deg);
  color: brown;
}

.slide {
  margin-top: 130px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  animation: slider 20s linear infinite;
}

.gallery .slide:nth-child(1) {
  animation-delay: 0s;
}

.gallery .slide:nth-child(2) {
  animation-delay: 10s;
}

/* .gallery .slide:nth-child(3) {
  animation-delay: 80s;
} */

.gallery,
.slide img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

@keyframes slider {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(500px);
  }
}

.line {
  border-bottom: 2px solid brown;
  padding-bottom: 5px;
}

.landing-content {
  color: white;
  text-align: center;
  margin-top: 150px;
  padding: 20px;
}

.landing-content button {
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  background-color: brown;
}

.landing-content h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
}

.landing-content h4 {
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
}

.landing-content p {
  font-family: 'Titillium Web', sans-serif;
}

/* Desktop */

@media all and (min-width: 768px) {
  .landing-content button {
    height: 35px;
    font-size: 20px;
    width: 15%;
  }

  .landing-content {
    margin-top: 260px;
    margin-left: 3%;
    text-align: left;
    width: 100%;
  }

  .landing-content h1 {
    font-size: 80px;
  }

  .landing-content h4 {
    font-size: 25px;
  }

  .landing-content p {
    font-size: 20px;
    line-height: 10px;
  }

  .line {
    width: 300px;
    margin-right: 100%;
  }

  .paw-icon {
    font-size: 40px;
    margin-left: -25px;
    margin-top: -30px;
  }
  button:hover {
    background-color: #06c;
    cursor: pointer;
  }
}
