.login-register {
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    margin-top: -43px;
    margin-right: 2%
}

.login-register button {
    margin-left: 10%;
}

.home-btn {
    margin: 5px 10px;
}

.header button {
    padding: 4px;
    border-radius: 7%;
    border: none;
    font-size: 20px;
}

@media all and (min-width: 768px) {
    .login-register {
        margin-top: -1.7%;
    }

    .login-register button {
        margin-left: 8px;
    }
    
    .home-btn {
        margin: 5px 10px;
    }
    
    .header button {
        padding: 4px;
        border-radius: 7%;
        border: none;
        font-size: 13px;
    }
}