.login {
  color: white;
}

.login button {
  background-color: black;
  color: white;
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.login-content {
    padding: 20px;
}

.login-content h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
}

.login-content h3 {
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
}

.login-content {
  margin-top: 30px;
  text-align: center;
}

.login-form {
  background-color: whitesmoke;
  width: 70%;
  height: 215px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 3px;
  text-align: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form input {
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 1.6rem;
    height: 2.8rem;
    padding-left: 0.8rem;
    border-radius: 0.4rem;
    border: none;
}

.login-form p {
    color: black;
  }
@media all and (min-width: 768px) {
    .login {
        display: flex;
        justify-content: space-between;
        margin-top: 250px;
        padding: 30px;
    }

    .login-form {
        width: 40%;
        height: 250px;
    }
}
